# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Logs
logs/*.log

# Generated outputs
data/output/*
reports/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
